@font-face {
  font-family: "iconfont"; /* Project id 2882191 */
  src: url('iconfont.woff2?t=1657261170420') format('woff2'),
       url('iconfont.woff?t=1657261170420') format('woff'),
       url('iconfont.ttf?t=1657261170420') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mute_fill:before {
  content: "\e81c";
  color: white;
}

.icon-Pause:before {
  content: "\e625";
  color: white;
}

.icon-bofang:before {
  content: "\e87c";
  color: white;
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-shengyintianchong:before {
  content: "\e6b3";
  color: white;
}

.icon-qq:before {
  content: "\e60d";
}

.icon-qunfengqqkongjian:before {
  content: "\e6e4";
}

.icon-weibo:before {
  content: "\e61b";
}

.icon-gongzuoguanli-gongzuotieba:before {
  content: "\e632";
}

.icon-yinle:before {
  content: "\e69e";
}

.icon-yonghuguanli-yonghuguanli:before {
  content: "\e61a";
}

.icon-tuichuquanping:before {
  content: "\e792";
  color: white;
}

.icon-quanping1:before {
  content: "\e634";
  color: white;
}

.icon-quanping:before {
  content: "\e62f";
}

.icon-xiangshang4:before {
  content: "\e795";
}

.icon-xiangxia4:before {
  content: "\e796";
}

.icon-jurassic_audit-report:before {
  content: "\e6ee";
}

.icon-huanyihuan:before {
  content: "\e7cf";
}

.icon-remenx:before {
  content: "\e606";
}

.icon-remen1:before {
  content: "\e60b";
}

.icon-remen:before {
  content: "\e647";
}

.icon-yonghu:before {
  content: "\e643";
}

.icon-qinquan:before {
  content: "\e665";
}

.icon-V:before {
  content: "\e7a3";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-social-tieba:before {
  content: "\e623";
}

.icon-douban:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\e621";
}

.icon-icon_follow:before {
  content: "\e620";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-shoucangxiao:before {
  content: "\e8bc";
}

.icon-icon_xinlang-chunselogo:before {
  content: "\e65e";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-QQkongjian:before {
  content: "\e666";
}

.icon-dianji:before {
  content: "\e6ca";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-toutiaoyangshi:before {
  content: "\e622";
}

.icon-yuedu:before {
  content: "\e602";
}

